.txar{text-align: right;}
.pr0 {padding-right: 0;}
.pl0 {padding-left: 0;}
#dj_player_wrap{width: 350px; height: 500px; border:1px solid #333; background-color:#eee; font-size:14px; overflow:hidden; position: fixed; top:10%; left:0; right: 0; margin: auto;}
#dj_player_wrap li{list-style:none;}
#dj_player_wrap .topBar{width: 100%; height: 30px; background-color:#333; text-align: right; color: #fff; cursor: move;}
#dj_player_wrap .topBar div{height: 100%; padding: 0 5px;}
#dj_player_wrap .topBar .btn{padding: 2px; font-size: 20px;}
#dj_player_wrap .topBar .btn:hover{color:#ccc;}
#dj_player_wrap .topBar .play_title{overflow: hidden; margin-left: 5px; margin-right: -5px; text-align: left;}
#dj_player_wrap .topBar .play_title span {display: none;white-space:nowrap; height: 100%; line-height: 30px;}
#dj_player_screen{width: 100%; height: 250px; background:#000; overflow:hidden; position: relative;}
#dj_player_screen img{display:none; width:100%; height:100%; margin:0 auto;}
#dj_player_screen video{width:100%; height: 100%}
#dj_player_controls{position: absolute; bottom: 0; width: 100%;}

#dj_player_wrap .playList{width: 100%; height: inherit; background-color:#333; overflow:auto;}
#dj_player_wrap .playList ul{width:100%; padding: 5px 15px;}
#dj_player_wrap .playList ul li{width:100%; height:23px; line-height:23px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin: 5px 0;}
#dj_player_wrap .playList ul li a {color: #fff; text-decoration: none;}
#dj_player_wrap .playList ul li a:hover{color: lightskyblue;}
.dj_player_select {color: deepskyblue !important;}

.btn-circle {width: 30px;height: 30px;text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;}

#dj_player_controls{background: rgba(0,0,0,0.75);}
#dj_player_controls > div{height: 33px;}
.dj_player_progress{position: relative;width: 100%;height:10px;background: rgba(255,255,255,.2); margin: 10px 0;}
.dj_player_bar, .dj_player_buffer{position: absolute;top: 0;left: 0;width: 0;height: 100%;background-color: #fff;}
.dj_player_buffer{background-color: rgba(255,255,255,.2);}
#dj_player_volume .dj_player_progress{width: 58px; float: right; margin-left: 10px;}
#dj_player_running{padding: 5px; color: #fff;}

/*최소화 or 팝업 모드시*/
.dj_player_pop{height: 98px !important;}
.dj_player_pop #dj_player_controls {display: block !important;}
.dj_player_pop #dj_player_cover, .dj_player_pop #dj_player_video {display: none !important;}
.dj_player_pop #dj_player_screen {height: 66px !important;}
.dj_player_pop .playList {display: none;}
.dj_player_pop .topBar .play_title span {display: inline-block !important;}
.dj_player_pop #dpc_full_screen {display: none;}


@media (min-device-width : 320px) and (max-device-width : 480px){
    #dj_player_wrap {margin: 0; height: 100%; width: 100%; top:0; left:0;}
    #dj_player_wrap .playList {height: inherit;}
}

@media (max-device-width : 320px){
    #dj_player_controls .btn-circle {font-size: 10px; width: 25px; height: 25px;}

}
